{% extends 'layout.html' %}

{% block header %}
    {% block title %}Hardware Map{% endblock %}
{% endblock %}

{% block content %}
<div class="step">
    <h2>Wiring map: Antenna to RF switch</h2>
    <table class="w3-table-all w3-hoverable w3-centered" style="max-width:900px">
        <tr>
            <th>Antenna Port</th>
            <th>RF Switch Port</th>
            <th>RF Switch<br>Control Signal</th>
        </tr>
        {{table_ant}}
    </table>
    
    <h2>Wiring map: RF switch to MCU</h2>

    <table class="w3-table-all w3-hoverable w3-centered" style="max-width:500px">
        <tr>
          <th>RF Switch<br> Control Lane</th>
          <th>MCU GPIO</th>
        </tr>
        {{table_gpio}}
    </table>
    <br>
    <form method="POST">
        <input class="form__submit" type="submit" value="Confirm hardware mapping"/>
    </form>
</div>    
{% endblock %}
