{% extends 'layout.html' %}

{% block header %}
    {% block title %}Welcome!{% endblock %}
{% endblock %}

{% block content %}
<p><b>M</b>ulti<b>P</b>ort <b>A</b>ntenna <b>D</b>ata <b>A</b>cquisition (MPADA) is a tool for collecting S parameter data from MIMO antennas.</p>

<!-- Init connection -->
<div class="step">
    <h2>Initialize VNA and MCU connections</h2>
    <p>Initialize connection to VNA and MCU.</p>
</div>

<!-- Config hardware -->
<div class="step">
    <h2>Create hardware mappings</h2>
    <p>Specify antenna port, RF switch port and MCU GPIOS.</p>
    
    <form id="port_config" method="POST">
        <h3>Antenna</h3>
        <div class="w3-row-padding">
            <div class="w3-quarter">
            <label># of TX</label>
            <input id="num_tx" name="num_tx" class="w3-input w3-border" type="number" min="1" max="100" step="1" value="3">
            </div>
            <div class="w3-quarter">
            <label># of RX</label>
            <input id="num_rx" name="num_rx" class="w3-input w3-border" type="number" min="1" max="100" step="1" value="3">
            </div>
        </div>

        <h3>RF Switch (TX and RX switches)</h3>
        <div class="w3-row-padding">
            <div class="w3-quarter">
            <label># of Control Port:</label>
            <input id="num_rfs_ctl" name="num_rfs_ctl" class="w3-input w3-border" type="number" min="1" max="3" step="1" value="3">
            </div>
        </div>

        <input
            class="form__submit"
            type="submit"
            value="Create port mapping"
        />
    </form>
</div>

{% endblock %}

