<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} - MPADA</title>
        <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" /> -->
        <link rel="stylesheet" href="../static/css/style.css" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    </head>

    <body>
        <div class="m_div">
            <img src="../static/img/cover.png" alt="MPADA" class="center" style="max-width:350px">
        </div>        
        <div class="topnav">
            <a class="active" href="/">Home</a>
            <a href="/hw_map">Hardware Mapping</a>
            <a href="/sweep_settings">Sweep Settings</a>
            <a href="/sweeping">Sweeping</a>
        </div>

        <!-- body contents -->
        <div class="m_contianer">
            <header>
                <h1>{% block header %}{% endblock %}</h1>
            </header>
            {% block content %}{% endblock %}
        </div>

        <footer>
            <p>Yuyi Chang, <a href="https://sense-lab-osu.github.io/">SENSE Lab</a> @ OSU ECE<br>
            <a href="mailto:chang.1560@osu.edu">chang.1560@osu.edu</a></p>
        </footer>
    </body>
</html>