{% extends 'layout.html' %}

{% block header %}
    {% block title %}Sweeping{% endblock %}
{% endblock %}

{% block content %}

<div class="step">
    <div class="w3-responsive">
        <table class="w3-table-all">
            {{table_sweep}}
        </table>
    </div>
</div>

<div class="step">
    <form method="POST">
        <input name="start-sweep-demo" class="form__submit" type="submit" value="Start (Demo)"/>
    </form>
</div>

<div class="step">
    <form method="POST">
        <input name="vna-reset" class="form__submit" type="submit" value="Reset VNA"/>
        <input name="vna-init" class="form__submit" type="submit" value="Init VNA"/>
    </form>
</div>

<div class="step">
    <form method="POST">
        <input name="start-sweep-vna" class="form__submit" type="submit" value="Start"/>
    </form>
</div>

<div class="step">
    <img src="data:image/png;base64,{{fig_sweep}}">
</div>

<div class="step">
    <form method="POST">
        <input name="save-sweep" class="form__submit" type="submit" value="Save"/>
    </form>
</div>
{% endblock %}