{% extends 'layout.html' %}

{% block header %}
    {% block title %}Sweeping{% endblock %}
{% endblock %}

{% block content %}
<div class="w3-responsive">
    <table class="w3-table-all">
        {{table_sweep}}
    </table>
</div>

<div class="step">
    <form method="POST">
        <input name="start-sweep" class="form__submit" type="submit" value="Start"/>
    </form>
</div>

<div class="step">
    <img src="data:image/png;base64,{{fig_sweep}}">
</div>

<div class="step">
    <form method="POST">
        <input name="save-sweep" class="form__submit" type="submit" value="Save"/>
    </form>
</div>
{% endblock %}